@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cairo Light";
  src: url("/fonts/Cairo/Cairo-Light.ttf");
}
.edukasi {
  background-color: #3e5294;
}
