@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rajdhani Medium';
  src: url('../fonts/rajdhani/Rajdhani-Medium.ttf');
}

@font-face {
  font-family: 'Rajdhani Bold';
  src: url('../fonts/rajdhani/Rajdhani-Bold.ttf');
}

.edukasi {
  background-color: #3E5294;
}